*{
	margin: 0%;
}
.i{
	list-style-image: url('../imagens/sangue.png');
	position: relative;
	left: 5%;
}
h4{
	padding: 1%;
	background: rgb(255, 160, 96);
	box-shadow: 1px 1px 4px black;
}

div{
	height: 100%; 
}
footer{
	position: relative;
	bottom: 0%;
	
	
}
  body {
	height: 100vh;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


